.header{
    display: inline;
}
.header h2{
    font-size: 30px;
}
.header h2,.hlinks{
    display: inline;
}
.header span{
    color: blueviolet;
}

.hlinks{
    float: right;
    margin-right: 400px;
}
.hlinks a{
    text-decoration: none;
    margin-right:50px;
    font-weight: 700;
    font-size: 17px;
}
a:hover{
    color: blue ;
}

.nav{
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    padding:50px;
    justify-content:center;

}
.nav h2{
    color: blueviolet;
}
.nav1{
     margin-left: -100px;
}
.nav1 p{
    font-size:30px;
    font-weight: 700;
}
.nav2{
    float: right;
}

.aboutme{
    background-color: lightslategray;
}
.aboutme h2{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}