.header{
    display: inline;
}
.header h2{
    font-size: 30px;
}
.header h2,.hlinks{
    display: inline;
}
.header span{
    color: blueviolet;
}

.hlinks{
    float: right;
    margin-right: 400px;
}
.hlinks a{
    text-decoration: none;
    margin-right:50px;
    font-weight: 700;
    font-size: 17px;
}
a:hover{
    color: blue ;
}